--extra-index-url https://pytorch.org

PyQt5
mss
numpy
opencv-python
ultralytics
torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1




#torch==2.5.1+cpu
#torchvision==0.20.1+cpu
#torchaudio==2.5.1+cpu